body{
    margin: 0;
}

.header{
    background-color: #0F52BA;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    color: #f7e7ce;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown > .link:focus, 
.link:hover {
    color: #D4AF37;
}

.dropdown {
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .5rem);
    background-color: #2286d8;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: .0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

main{
    background-color: #F8F8FF;
    margin-left: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    z-index: 1;
  }
  
  footer {
    font-size: .75rem;
    font-weight: 100;
    opacity: .5;
}
